.row.divide
	.col-xs-12
		.content
			h2 Join
			p Part of what makes LDOC so special is the collaborative nature behind the event – this is an event for students planned by students. If you want to help continue the tradition and coordinate one of the biggest events on campus, we encourage you to consider applying for the LDOC committee.
			p As a member of the LDOC committee, you will be part of the artist selection process as well as organizing programming and promotions. You will meet new people, gain valuable teamwork experience, interact with staff and administration, and learn how to plan a successful campus-wide event at weekly committee meetings.
			p Want to get involved? If you are interested in applying for LDOC Committee for next year, the application process will commence next Fall with applications due sometime in early September.

.row.divide
	.col-xs-12
		.content
			h2 Philanthropy
			p Duke Children's Hospital & Health Center is dedicated to providing the best possible care for the patients and families we serve today and discovering treatments that will enhance the health care of future generations. Duke University students have a long history of supporting Duke Children's, and LDOC is proud to extend that tradition.
			p Proceeds from t-shirt sales and student donations will help purchase equipment, fund family support and research, stock playrooms with toys and games, and other important projects. Our goal is to raise $1,000. If you would like to donate to this extraordinary cause, please donate via DukeCard at the LDOC t-shirt sales tables during the last week of class, or via credit card at the link below. Thank you for supporting our partnership with Duke Children’s Hospital.
			a.btn(href="https://www.gifts.duke.edu/dch") Donate
.row.divide
	.col-xs-12
		.content
			h2 Get to Know Us
			.row
				.col-xs-12.col-sm-6.col-md-6
					.view
						img(src="images/committee/Slide09.jpg")
						.mask
						p
							strong Co-Chair
							| They call me Bruno 2.0.
				.col-xs-12.col-sm-6.col-md-6
					.view
						img(src="images/committee/Slide07.jpg")
						.mask
						p
							strong Co-Chair
							| Proud resident of New Jersey, I actively pursue the GTL Lifestyle - Gym, Tan, Listen to Music.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/Slide10.jpg")
						.mask
						p
							strong Marketing
							| I think pimp, therefore I am.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/Slide11.jpg")
						.mask
						p
							strong Marketing
							| Wannabe athlete, cupcake enthusiast, and semi-professional cuddle buddy. People tell me I’m pretty elusive, but I think it's just cuz I’m a loser.​
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/Slide01.jpg")
						.mask
						p Philanthropy & Food
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/Slide02.jpg")
						.mask
						p
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/Slide03.jpg")
						.mask
						p
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/Slide04.jpg")
						.mask
						p
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/Slide05.jpg")
						.mask
						p
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/Slide06.jpg")
						.mask
						p
				
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/Slide08.jpg")
						.mask
						p