.row.divide
	.col-xs-12
		.content
			h2 Join
			p Part of what makes LDOC so special is the collaborative nature behind the event! This is an event for students planned by students. If you want to help continue the tradition and coordinate one of the biggest events on campus, we encourage you to consider applying for the LDOC committee.
			p As a member of the LDOC committee, you will be part of the artist selection process as well as organizing programming and promotions. You will meet new people, gain valuable teamwork experience, interact with staff and administration, and learn how to plan a successful campus-wide event at weekly committee meetings.
			p Want to get involved? If you are interested in applying for LDOC Committee for next year, the application process will commence next Fall with applications due sometime in early September.

.row.divide
	.col-xs-12
		.content
			h2 Philanthropy
			p Duke Children's Hospital & Health Center is dedicated to providing the best possible care for the patients and families we serve today and discovering treatments that will enhance the health care of future generations. Duke University students have a long history of supporting Duke Children's, and LDOC is proud to extend that tradition.
			p Proceeds from t-shirt sales and student donations will help purchase equipment, fund family support and research, stock playrooms with toys and games, and other important projects. Our goal is to raise $1,000. If you would like to donate to this extraordinary cause, please donate via DukeCard at the LDOC t-shirt sales tables during the last week of class, or via credit card at the link below. Thank you for supporting our partnership with Duke Children's Hospital.
			a.btn(href="https://www.gifts.duke.edu/dch") Donate
.row.divide
	.col-xs-12
		.content
			h2 Get to Know Us
			.row
				.col-xs-12.col-sm-6.col-md-6
					.view
						img(src="images/committee/kristin.jpg")
						.mask
						p
							strong Co-Chair
							br
							|Don't do your best, do my best.
				.col-xs-12.col-sm-6.col-md-6
					.view
						img(src="images/committee/holly.jpg")
						.mask
						p
							strong Co-Chair
							br
							| I'm out of shape, but I still run the city.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/amir.jpg")
						.mask
						p
							strong Marketing
							br
							| They don't want you to celebrate, so I'm gonna celebrate.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/blaine.jpg")
						.mask
						p
							strong Marketing
							br
							| You can call me Queen B... literally.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/brian.jpg")
						.mask
						p
							strong Marketing & Daytime Programming
							br
							| I'm the only one with a prop in my picture.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/zach.jpg")
						.mask
						p
							strong Marketing & Philanthropy
							br
							| Young, scrappy, and hungry. Just like my country.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/dylan.jpg")
						.mask
						p
							strong Marketing & Food
							br
							| "'You miss 100% of the shots you don't take -- Wayne Gretzky' -- Michael Scott" -- Dylan Posner
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/eric.jpg")
						.mask
						p
							strong Marketing
							br
							| I'm Harlem shaking through the pressure.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/gautam.jpg")
						.mask
						p
							strong Daytime Programming & Food
							br
							| The best advice is no advice, especially if it's your advice.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/hannah.jpg")
						.mask
						p
							strong Daytime Programming
							br
							| Radiate positivity and everything will be fine.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/izzie.jpg")
						.mask
						p
							strong Daytime Programming
							br
							| My parents think I'm pretty cool.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/justin.jpg")
						.mask
						p
							strong Marketing
							br
							| It's goin' down for real.
					.view
						img(src="images/committee/phillip.jpg")
						.mask
						p
							strong Daytime Programming
							br
							| "I'm late to the party, but my 'Rari is the latest" ---> Welcome to my Party
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/sam.jpg")
						.mask
						p
							strong Philanthropy & Daytime Programming
							br
							| Sassier on social media than in real life.
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/sanmi.jpg")
						.mask
						p
							strong Daytime Programming
							br
							| I can cook minute rice in 58 seconds...
				.col-xs-12.col-sm-6.col-md-4
					.view
						img(src="images/committee/telisse.jpg")
						.mask
						p
							strong Philanthropy
							br
							| "I have no idea what I'm doing, but I know I'm doing it really, really well." - Andy Dwyer
