.row.divide
	.col-xs-12
		.content
			p All the food trucks listed below will be parked and serving food at the Chapel Circle from 11:00am to 2:00pm and at Kilgo from 6pm-10pm.
.row.divide
	.col-xs-12.col-sm-6
		.content
			h2 Chirba Chirba
			img(src="https://studentaffairs.duke.edu/sites/default/files/u1379/Chirba-Chirba-logo.preview.jpg", height='300')
			p "Chirba Chirba" means, "Eat eat!" in traditional Mandarin Chinese and you will never want to stop eating these delicious traditional dumplings. These dumplings on-the-go were named the Triangle's Best in 2012. All flavors of dumpling are provided along with traditional Chinese sides such as Edemame and Tea Egg.
	.col-xs-12.col-sm-6
		.content
			h2 Deli-icious
			img(src="https://studentaffairs.duke.edu/sites/default/files/u1379/deli-icious.jpeg", height='300')
			p If you are looking for artisan paninis or fresh salads on the go, Deli-icious is calling your name. Started by Chef Suzie, originally a bakery owner from Albany, NY, this truck offers a world-wide selection of ingredients combined with southern comfort cooking. Everything from the Brier Bear to Mushroom Quiche can be found in Chef Suzie's truck.
.row.divide
	.col-xs-12.col-sm-6
			.content
				h2 Gussy's
				img(src="https://studentaffairs.duke.edu/sites/default/files/u1379/gussys-300x107_0.jpg", height='300')
				p A long-time favorite of students on campus, Gussy's offers a wide range of authentic Greek street food. Everything from Gyros to Baklava is served up fresh in the Greek Street Devil's truck. Constantly mobbed when it is parked on campus, Gussy's is a great choice for energy food during the day.
		.col-xs-12.col-sm-6
			.content
				h2 Humble Pig
				img(src="https://studentaffairs.duke.edu/sites/default/files/u1379/4fc6d381-a94c-445f-99d7-5a8d46204482.jpg", height='300')
				p Another student favorite that is always mobbed when on campus, offers up mouthwatering BBQ pork and chicken. A family-run business that has been in the Triangle since 2007 has had immense success with locally sourced ingredients and sustainable practices. Everything from your traditional pulled pork sandwich to smoked tacos are on the menu.
.row.divide
	.col-xs-12.col-sm-6
		.content
			h2 Mixed Korean
			img(src="https://studentaffairs.duke.edu/sites/default/files/u1379/Mixedtruck%20logo.jpg", height='300')
			p Mixed is a locally owned restaurant and food truck offering modern Korean food with customizable Bibimbap at the core of its menu.
	.col-xs-12.col-sm-6
		.content
			h2 Parlez-vous Crepe
			img(src="https://studentaffairs.duke.edu/sites/default/files/u1379/parlezvous2.jpg", height='300')
			p Parlez-vous Crepe offers students the opportunity to choose from an array of fresh and fun ingredients surrounded by a thin, delicious pancake. Owner Jody Argote learned the art of crêpe making while living and working in Beaune, France and brings that artisanship to campus in the Parlez-Vous Truck.
.row.divide
	.col-xs-12.col-sm-6
		.content
			h2 Belgian Waffle Crafters
			img(src="https://studentaffairs.duke.edu/sites/default/files/u1379/belgian-wc-hq.jpg", height='400')
			p Belgian Waffle Crafters is the first one and only Belgian waffle food truck in the Triangle. They are Belgian and they'll bring to you what Belgians do the best: waffles!
	.col-xs-12.col-sm-6
		.content
			h2 Tropical Delights
			img(src="https://static.wixstatic.com/media/09fb48_3cbad1ff1ddd496ab8082d853a6ae74a.png/v1/fill/w_545,h_669,al_c/09fb48_3cbad1ff1ddd496ab8082d853a6ae74a.png", height='400')
			p Beat the heat and cool off with a delectable beverage from Tropical Delights. How fun is it to walk around with a giant drink-in-a-pineapple on LDOC?s
