.row.divide
	.col-xs-12
		.content
			p All the food trucks listed below will be parked and serving food at the Chapel Circle from 11:00am to 3:00pm and at Kilgo.
.row.divide
	.col-xs-12.col-sm-6
		.content
			h2 Food Truck
			img(src="")
			p
	.col-xs-12.col-sm-6
		.content
			h2 Food Truck
			img(src="")
			p
.row.divide
	.col-xs-12.col-sm-6
		.content
			h2 Food Truck
			img(src="")
			p
	.col-xs-12.col-sm-6
		.content
			h2 Food Truck
			img(src="")
			p
.row.divide
	.col-xs-12.col-sm-6
		.content
			h2 Food Truck
			img(src="")
			p
	.col-xs-12.col-sm-6
		.content
			h2 Food Truck
			img(src="")
			p
