.row.divide
  .col-xs-12
    .content
      p The LDOC (Last Day of Classes) Festival started in 1997 and has quickly become one of the highlights of the school year and an integral part of Duke culture. While LDOC sponsors a wide array of daytime activities and student performances, the highlight of the day is the evening concert featuring major artists.
      p The energetic music festival atmosphere is undoubtedly the most important aspect of LDOC, in addition to daytime programming, food, dancing, and the sunny weather. Held on the last day of undergraduate classes during the spring semester, LDOC is hailed as the ultimate celebration of the end of the year at Duke. It's about bringing the entire Duke student body and community together for one last day before the school year is over and celebrating a year of work, pressure, and perseverance.
.row.divide
  .col-xs-12.col-sm-7.col-md-8
    #updates.content
      h2 Updates
      .row
  .col-xs-12.col-sm-5.col-md-4
    .content
      h2 Twitter
      .view
        <a class="twitter-timeline" href="https://twitter.com/DukeLDOC" data-widget-id="589120237158686720">Tweets by @DukeLDOC</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
script(src="scripts/index.js")
