.row.divide
	.col-xs-12.col-sm-6
		.content
			h2 Rae Sremmurd
			img(src="http://i.imgur.com/S2aQViw.jpg")
			ul.links
				li
					a(href="https://www.facebook.com/RaeSremmurd/")
						i.fa.fa-facebook-official
				li
					a(href="https://www.instagram.com/raesremmurd/")
						i.fa.fa-instagram
				li
					a(href="https://twitter.com/RaeSremmurd")
						i.fa.fa-twitter-square
				li
					a(href="https://www.youtube.com/user/RaeSremmurd")
						i.fa.fa-youtube-play
				li
					a(href="https://soundcloud.com/raesremmurd")
						i.fa.fa-soundcloud
				li
					a(href="http://www.raesremmurd.com")
						i.fa.fa-globe
			p.description Rae Sremmurd - pronounced "Ray-Shrim-er," consists of real life brothers Slim Jxmmi and Swae Lee, the first act signed to multi-platinum producer Mike WiLL Made-It's Ear Drummer Records. Rae Sremmurd's first single "No Flex Zone," was a breakout for the duo, becoming a cultural touchstone throughout 2014. Their debut album SremmLife has been called one of the top 50 albums of 2015 by Stereogum, Complex, Pitchfork, and Rolling Stone Magazine.
	.col-xs-12.col-sm-6
		.content
			h2 Matoma
			img(src="http://i.imgur.com/i6lImgZ.jpg")
			ul.links
				li
					a(href="https://www.facebook.com/artistmatoma/")
						i.fa.fa-facebook-official
				li
					a(href="https://www.instagram.com/matomaofficial/?hl=en")
						i.fa.fa-instagram
				li
					a(href="https://twitter.com/matomaofficial")
						i.fa.fa-twitter-square
				li
					a(href="https://www.youtube.com/channel/UCdjoz9EURsObi2ov6BD1m-g")
						i.fa.fa-youtube-play
				li
					a(href="https://soundcloud.com/matoma-official")
						i.fa.fa-soundcloud
				li
					a(href="http://hakunamatoma.com/")
						i.fa.fa-globe
			p.description Tom Stræte Lagergren aka Matoma is a Norwegian DJ and record producer of tropical house from Flisa, Norway. In the last two years, he's scored a hit in Europe with a remix of Notorious B.I.G.'s "Old Thing Back" and has gained international recognition for his remixes, including cuts for Jessie J, Akon, Enrique Iglesias, and others. Matoma has been tapped to play at several high-profile music festivals, including Ultra, Coachella, and the Billboard Hot 100 Music Festival.
	.col-xs-12.col-sm-6
		.content
			h2 Saint Motel
			img(src="http://i.imgur.com/jbCsKAd.jpg")
			ul.links
				li
					a(href="https://www.facebook.com/saintmotel/")
						i.fa.fa-facebook-official
				li
					a(href="https://www.instagram.com/saintmotel/?hl=en")
						i.fa.fa-instagram
				li
					a(href="https://twitter.com/SaintMotel")
						i.fa.fa-twitter-square
				li
					a(href="https://www.youtube.com/user/saintmotelvideo")
						i.fa.fa-youtube-play
				li
					a(href="https://soundcloud.com/saintmotel")
						i.fa.fa-soundcloud
				li
					a(href="http://www.saintmotel.com/")
						i.fa.fa-globe
			p.description California indie pop band Saint Motel was formed in 2007 by pianist/vocalist A.J. Jackson and classically trained guitarist Aaron Sharp. Recruiting bassist Dak Lerdamornpong and drummer Greg Erwin, the group immediately started writing music together, crafting a slick, bouncy, retro, tropicalia-influenced sound. Their debut album, Voyeur, was released in 2012 and was critically well-received. In 2014 the band signed with Parlophone, releasing the EP My Type.
	.col-xs-12.col-sm-6
		.content
			h2 Wes Walker & Dyl
			img(src="https://i.imgur.com/UIlekc3.jpg")
			ul.links
				li
					a(href="https://www.facebook.com/weswalkermusic/")
						i.fa.fa-facebook-official
				li
					a(href="https://www.instagram.com/ogweswalker/")
						i.fa.fa-instagram
				li
					a(href="https://twitter.com/ogweswalker")
						i.fa.fa-twitter-square
				li
					a(href="https://www.youtube.com/user/wesleypaulwalker1")
						i.fa.fa-youtube-play
				li
					a(href="https://soundcloud.com/weswalker")
						i.fa.fa-soundcloud
				li
					a(href = "www.weswalker.dj/")
						i.fa.fa-globe
			p.description Wes Walker is a rapper and DJ from Philadelphia, Pennsylvania. Garnering success with fellow college rapper Dyl on the EDM/trap single "Jordan Belfort" -- an ode to that notorious Wolf of Wall Street that had over ten million hits on SoundCloud -- the pair are currently embarking on a College Weekly tour across college campuses in the United States.
