.row.divide
	.col-xs-12.col-sm-6
		.content
			h2 Artist 1
			img(src="")
			ul.links
				li
					a(href="")
						i.fa.fa-facebook-official
				li
					a(href="")
						i.fa.fa-instagram
				li
					a(href="")
						i.fa.fa-twitter-square
				li
					a(href="")
						i.fa.fa-youtube-play
				li
					a(href="")
						i.fa.fa-soundcloud
				li
					a(href="")
						i.fa.fa-globe
			p.description  
	.col-xs-12.col-sm-6
		.content
			h2 Artist 2
			img(src="")
			ul.links
				li
					a(href="")
						i.fa.fa-facebook-official
				li
					a(href="")
						i.fa.fa-instagram
				li
					a(href="")
						i.fa.fa-twitter-square
				li
					a(href="")
						i.fa.fa-youtube-play
				li
					a(href="")
						i.fa.fa-soundcloud
				li
					a(href="")
						i.fa.fa-globe
			p.description
	.col-xs-12.col-sm-6
		.content
			h2 Artist 3
			img(src="")
			ul.links
				li
					a(href="")
						i.fa.fa-facebook-official
				li
					a(href="")
						i.fa.fa-instagram
				li
					a(href="")
						i.fa.fa-twitter-square
				li
					a(href="")
						i.fa.fa-youtube-play
				li
					a(href="")
						i.fa.fa-soundcloud
				li
					a(href="")
						i.fa.fa-globe
			p.description
	.col-xs-12.col-sm-6
		.content
			h2 Artist 4
			img(src="")
			ul.links
				li
					a(href="")
						i.fa.fa-facebook-official
				li
					a(href="")
						i.fa.fa-instagram
				li
					a(href="")
						i.fa.fa-twitter-square
				li
					a(href="")
						i.fa.fa-youtube-play
				li
					a(href="")
						i.fa.fa-soundcloud
			p.description
