.row
	.col-xs-12.col-sm-6
		.content
			h2 T-Pain
			img(src="http://www.newyorker.com/wp-content/uploads/2014/03/t-pain-580.jpg")
			ul
				li
					a(href="https://www.facebook.com/t-pain")
						i.fa.fa-facebook-official
				li
					a(href="https://instagram.com/tpain")
						i.fa.fa-instagram
				li
					a(href="https://twitter.com/tpain")
						i.fa.fa-twitter-square
				li
					a(href="https://www.youtube.com/user/TPainVEVO")
						i.fa.fa-youtube-play
				li
					a(href="https://soundcloud.com/t-pain")
						i.fa.fa-soundcloud
				li
					a(href="http://www.t-pain.net/")
						i.fa.fa-globe
			p.description T-Pain, 29, is an American rapper and singer-songwriter who has been in the music business for over 10 years after being signed to Akon’s label, Konvict Muzik, in 2003. He is best known for his iconic club hits such as “I’m N Luv (Wit a Stripper),” "Buy U a Drank (Shawty Snappin')," and “Bartender.” Following the release of his second album, T-Pain received a Grammy Award for his and Kanye West’s song, “Good Life” for “Best Rap Song” in 2008. In 2010, he won his second Grammy for “Best R&B Performance by a Duo or a Group”, with Jamie Foxx for their song, “Blame It.” In addition to being a notorious rapper, T-Pain has collaborated with several pop and hip-hop artists such as, Lil Mama, Ace Hood, DJ Khaled, and Flo Rida. In 2014, T-Pain was featured on NPR “Music’s Tiny Desk Concert” series where he received praise from critics for his amazing acoustic performances of his hit singles. Currently, T-Pain is working on his latest album, Stoicville: The Phoenix, which features his 2013 single, “Up Down (Do This All Day)”and will be featured in the 2015 action film, Fast & Furious 7.
	.col-xs-12.col-sm-6
		.content
			h2 Jeremih
			img(src="http://cdn.defjam.com/wp-content/uploads/2013/05/JEREMIH_PORTRAITS-191_v3SM-683x1024.jpg")
			ul
				li
					a(href="https://www.facebook.com/officialjeremih")
						i.fa.fa-facebook-official
				li
					a(href="https://instagram.com/jeremih/")
						i.fa.fa-instagram
				li
					a(href="https://twitter.com/jeremih")
						i.fa.fa-twitter-square
				li
					a(href="https://www.youtube.com/user/JeremihVEVO")
						i.fa.fa-youtube-play
				li
					a(href="https://soundcloud.com/officialjeremih")
						i.fa.fa-soundcloud
				li
					a(href="http://www.jeremih.com/")
						i.fa.fa-globe
			p.description Jeremih, a 27 year-old Chicago native, has been tearing up the R&B, pop, and hip-hop scene with his smash singles like “Birthday Sex” and “Down on Me.” From teaching himself how to play different types of instruments, to being involved with school bands, Jeremih has always been passionate about music. In 2009, he was signed to Russell Simmons’s label, Def Jam Recordings. Shortly after, he released his self-titled debut album, Jeremih, which reached to number six on the Billboard 200. Jeremih is currently working on his third album, Late Nights: The Album. The third single off the album, “Don’t Tell ‘Em,” has received praise for its catchy beat and musical production. The song debuted at number six on the Billboard Hot 100 in 2014 and is still popular amongst the music scene. The single has topped international charts and has over 80 million plays on Spotify. He still proves to surprise critics with the releases of new singles such as, “Planes”, which features singer J. Cole, “Somebody” and “The Body,” where he works alongside rapper Wale. Late Nights: The Album will be released in 2015.
.row
	.col-xs-12.col-sm-6
		.content
			h2 MisterWives
			img(src="http://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/e15/10725134_964810220209989_950674135_n.jpg")
			ul
				li
					a(href="https://www.facebook.com/MisterWives")
						i.fa.fa-facebook-official
				li
					a(href="https://instagram.com/misterwives")
						i.fa.fa-instagram
				li
					a(href="https://twitter.com/misterwives")
						i.fa.fa-twitter-square
				li
					a(href="https://www.youtube.com/user/MisterWivesVEVO")
						i.fa.fa-youtube-play
				li
					a(href="https://soundcloud.com/officialjeremih")
						i.fa.fa-soundcloud
				li
					a(href="https://soundcloud.com/misterwives")
						i.fa.fa-globe
			p.description Consisting of Mandy, Etienne, William, Marc, Michael, and Jesse, this New York-based band is the next big thing in indie pop. MisterWives has been rising up to the top with their awesome singles and originality. After their formation in 2012, MisterWives signed to Photo Finish Records and has toured with numerous bands such as, Half Moon Run and American Authors. Eventually, MisterWives released their debut EP, Reflections, which included their hit single, “Reflections”. The EP sold 20,000 copies in the first week and critics praised the single, “Reflections,” for its creativity and musical arrangement. Early 2015, MisterWives was named one of MTV’s “Artist to Watch” and released their album, Our Own House, which included hit songs like, “Best I Can Do” and “Our Own House.” Currently, MisterWives is preparing to go on tour and is going to perform at the Sweetlife Music Festival in May.
	.col-xs-12.col-sm-6
		.content
			h2 Spencer Brown
			img(src="https://scontent-lga.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10365836_849155898439323_1054604086198566466_n.jpg?oh=3f2d1e6d22bb59aae82562c665739f40&oe=557C7D1D")
			ul
				li
					a(href="https://www.facebook.com/spencerbrownofficial")
						i.fa.fa-facebook-official
				li
					a(href="https://instagram.com/spencerbrownofficial/")
						i.fa.fa-instagram
				li
					a(href="https://twitter.com/spencer_brown")
						i.fa.fa-twitter-square
				li
					a(href="https://www.youtube.com/channel/UCI0Ykc_sNoUvpx8RpqNcJqA")
						i.fa.fa-youtube-play
				li
					a(href="https://soundcloud.com/spencerbrownofficial")
						i.fa.fa-soundcloud
			p.description Spencer Brown is an American producer and has played for thousands of people at venues like the Barclays Center in New York. He has toured internationally with acclaimed DJs, Avicii and Cazzette. Did we mention that Spencer is currently a junior at Duke? From a young age, Brown has always been a fan of music creation and producing dubstep. His career took off when he got iconic producer, Ash Pournouri, to support him. Brown is currently signed to LE7ELS, Anujunabeats, and PRMD. He recently released two EPs, Jaboom / Mirek and Chalice/Double Down. At the end of 2014, he was named one of Dancing Astronaut’s “25 Artists to Watch in 2015.” There’s nothing that can stop Spencer Brown from rising to premier fame.