.row.divide
	.col-xs-12
		.content
			p Our event's success is measured by the satisfaction of our student body, and in order to ensure that every student gets to experience their best LDOC possible, safety remains our top priority. We've worked hard with university administrators to create policies that we feel reflect students' best interests, so please review our event policies regarding alcohol, bags, wristbands, etc. before LDOC so that you can get preparations underway for your best LDOC ever!
.row.divide
	.col-xs-12
		.content
			h2 General Policies
			ul
				li Students are required to carry their Duke Cards with them at all times and may be asked to present it to demonstrate they are a Duke student.
				li After Noon, all residence dorms will be Quad Access Only
				li After 4pm, access to the Main Quad will be restricted. All attendees must have a Duke Card and LDOC Wristband in order to enter.
				li Duke University policy does not permit smoking inside or within 10 feet of any University building.
.row.divide
	.col-xs-12
		.content
			h2 Alcohol
			.row
				.col-xs-12.col-sm-6
					img(src="/images/infographics/alcohol.png")
				.col-xs-12.col-sm-6
					ul
						li As a reminder, state law and University policy prohibit consumption of alcohol by those under the age of 21.
						li Consistent with standing University policy for registered BYOB events, the following guidelines will be enforced among those who choose to drink:
							ul
								li Alcohol that is unattended will be discarded
								li Students may not distribute alcohol or share alcohol with one another
								li Students may have a maximum of six 12 oz. cans OR FEWER on them at any given time, and must be personally in possession of the cans.
								li Alcohol other than beer is not permitted (no wine, hard alcohol, Joose/4Loko/other similar beverages, etc.); anyone seen with alcohol other than beer will be asked to pour out the contents
								li Glass containers are not permitted; cups, water bottles, or other containers must be under 24 oz.
								li No drinking games or other unsafe drinking behaviors will be permitted. This includes but is not limited to beer pong, shotgunning, funneling, etc.
								li Common source containers or cases are not permitted.
								li Alcohol is NOT permitted on Chapel quad all day.
						li Students who appear intoxicated or are displaying unsafe or irresponsible behavior will be asked to pour out their containers and leave the event. Further disciplinary action may be taken.
.row.divide
	.col-xs-12
		.content
			h2 Wristbands
			.row
				.col-xs-12.col-sm-6
					img(src="/images/infographics/wristband.png")
				.col-xs-12.col-sm-6
					ul
						li LDOC entry is free and open to any current undergraduate, graduate Duke student, or spouses of graduate students who has picked up a wristband.
						li Wristbands are limited to one per student per DukeCard.
						li Wristbands will be distributed by the Bryan Center Box Office
							ul
								li TBD on Monday (4/25)
								li TBD on Tuesday (4/26)
								li TBD on LDOC (Wednesday, 4/27)
						li After 3PM on LDOC, wristbands will no longer be available for pick-up and main quad access will be restricted to only those with wristbands.
						li Wristbands will not be distributed to non-Duke students.
						li Lost wristbands will not be replaced.
.row.divide
	.col-xs-12
		.content
			h2 Recommended and Prohibited Items
			.row
				.col-xs-6
					img(src="/images/infographics/what-to-bring.png")
				.col-xs-3
					h4 Recommended
					ul
						li Student ID and wristband (required to access quad after 3pm)
						li Fanny packs or small bags; each student may have 1 larger mesh or transparent bag
						li Folding chairs
				.col-xs-3
					h4 Prohibited
					ul
						li No couches, futons, or university furniture will be allowed on the main quad on LDOC.
						li Benches must stay in their original location at any point throughout and before LDOC.
						li We ask that groups do not congregate in residential quads, but instead we encourage people to enjoy the event as a community on the main quad. Large gatherings and other unapproved events will be directed towards the Main Quad.
						li No tailgate tents or any type of structure are allowed on the main quad.
						li Due fire and safety concerns, we ask that students do not bring hay bales to the main quad.
						li No amplified sound is allowed during LDOC.
.row.divide
	.col-xs-12
		.content
			h2 Sustainability
			.row
				.col-xs-12.col-sm-6
					img(src="")
				.col-xs-12.col-sm-6
					ul
						li Plastics #1-7 (including red solo cups), plastic water bottles, and aluminum cans can all be recycled.
						li Bring a refillable water bottle to use throughout the day at the Water Truck located on Main Quad.
						li Don't litter: use waste receptacles around the quad and around campus.
