.row.divide
  .col-xs-12
    .content.table-responsive
      h2 Schedule
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-6
          .view
            img(src="")
        .col-xs-12.col-sm-12.col-md-12.col-lg-6
          .view
            table.table.table-bordered
              thead
                tr
                  th Event
                  th Sponsor
                  th Time
                  th Location
              tbody
                tr
                  td Breakfast - East
                  td Junior Panhel
                  td 9:00 AM - 11:00 AM
                  td East Bus Stop
              tbody
                tr
                  td Breakfast - Central
                  td Central HDRL
                  td 9:00 AM - 11:00 AM
                  td Anderson and Alexander Bus Stop
              tbody
                tr
                  td Breakfast - West
                  td LDOC Committee/Kind Bar
                  td 9:00 AM - 11:00 AM
                  td West Bus Stop
              tbody
                tr
                  td Morning Yoga
                  td Maria Finnegan
                  td 10:00 AM - 12:00 PM
                  td Statue Quad
              tbody
                tr
                  td Smoothie Bike
                  td Students for Sustainable Living/LDOC
                  td 11:00 AM - 12:30 PM
                  td Main Quad
              tbody
                tr
                  td Water Bottle Giveaway
                  td Students for Sustainable Living/LDOC
                  td 11:00 AM - 12:30 PM
                  td Main Quad
              tbody
                tr
                  td Food Trucks - LUNCH
                  td
                  td 11:00 AM - 2:00 PM
                  td Chapel Loop/ Wannamaker Firelane (Dinner)
              tbody
                tr
                  td Various Activities
                  td Religious Life
                  td 11:00 AM - 3:00 PM
                  td Chapel Quad
              tbody
                tr
                  td Inflatables
                  td LDOC Committee
                  td 11:00 AM - 3:00 PM
                  td Main Quad
              tbody
                tr
                  td Tie Dye
                  td DUARTS
                  td 11:00 AM - 3:00 PM
                  td Main Quad
              tbody
                tr
                  td Spin Art
                  td VisArts
                  td 11:00 AM - 3:00 PM
                  td Main Quad
              tbody
                tr
                  td Massages
                  td DUWELL
                  td 11:00 AM - 4:00 PM
                  td Chapel Quad
              tbody
                tr
                  td World Immunization Awareness (Photo Campaign)
                  td dPS
                  td 11:00 AM - 3:00 PM
                  td BC Plaza/Avalon
              tbody
                tr
                  td Water Truck
                  td Students for Sustainable Living/LDOC
                  td 11:00 AM - Midnight
                  td Main Quad
              tbody
                tr
                  td Silent Disco
                  td LDOC Committee/ Annual Events
                  td 1:00 PM - 4:00 PM
                  td Clocktower Quad
              tbody
                tr
                  td Inflatables and Sports Equipment
                  td Recreational Services
                  td 1:00 PM - 5:00 PM
                  td KVille Lawn
              tbody
                tr
                  td K-VIlle BBQ
                  td DUWELL
                  td 2:30 PM - 4:30 PM
                  td Card Lot/KVIlle Lawn
              tbody
                tr
                  td Food Trucks - DINNER
                  td
                  td 6:00 PM - 10:00 PM
                  td Kilgo Lot
              tbody
                tr
                  td Midnight Pizza
                  td DUU
                  td 11:00 PM - 12:00 PM
                  td Main Quad
