.row.divide
  .col-xs-12
    .content.table-responsive
      h2 Schedule
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-6
          .view
            img(src="")
        .col-xs-12.col-sm-12.col-md-12.col-lg-6
          .view
            table.table.table-bordered
              thead
                tr
                  th Event
                  th Sponsor
                  th Location
                  th Time
                  th Category
              tbody
                tr
                  td TBA
                  td TBA
                  td TBA
                  td TBA
                  td TBA
