.row.divide
  .col-xs-12
    .content.table-responsive
      h2 Schedule
      .row
        .col-xs-6
          img(src="images/infographics/schedule.png")
        .col-xs-6
          table.table
            thead
              tr
                th Event
                th Sponsor
                th Location
                th Time
                th Category
            tbody
              tr
                td Donut and Coffee Breakfast
                td Junior Panhellenic Council
                td East Campus Busstop
                td 8 AM - 11 AM
                td Food
              tr
                td Chapel Climb
                td LDOC
                td East Campus Busstop
                td 9 AM - 12 AM
                td Activity
              tr
                td Morning Yoga
                td Maria Finnegan
                td Statue Quad
                td 10:00 AM - 12:00 PM
                td Wellness
              tr
                td Food Trucks
                td LDOC
                td Chapel Loop
                td 11:00 AM - 3:00 PM
                td Food
              tr
                td Spin Art 
                td VisArts
                td Main Quad
                td 11:00 AM - 3:00 PM
                td Activity
              tr
                td DDR + Game Consoles
                td VPI/DUU
                td Main Quad
                td 11:00 AM - 3:00 PM
                td Games
              tr
                td Screen Printing
                td Nasher
                td Main Quad
                td 11:00 AM - 3:00 PM
                td Activity
              tr
                td Massages on the Quad
                td DUWELL
                td Chapel Quad
                td 11:00 AM - 4:00 PM
                td Wellness
              tr
                td Sno Cones + Pop Corn
                td Religious Life
                td Chapel Quad
                td 11:00 AM - 3:00 PM
                td Food
              tr
                td Sun Catcher Art
                td Religious Life
                td Chapel Quad
                td 11:00 AM - 3:00 PM
                td Activity
              tr
                td CornHoles
                td Religious Life
                td Chapel Quad
                td 11:00 AM - 3:00 PM
                td Games
              tr
                td Prayer/Blessing Flags
                td Religious Life
                td Chapel Quad
                td 11:00 AM - 3:00 PM
                td Activity
              tr
                td Open Mic Unplugged
                td Religious Life
                td Chapel Quad
                td 11:00 AM - 3:00 PM
                td Activity
              tr
                td Ultimate Frisbee
                td Swerve
                td Main Quad
                td 11:00 AM - 3:00 PM
                td Games
              tr
                td Giant Jenga
                td LDOC
                td Main Quad
                td 11:00 AM - 3:00 PM
                td Games
              tr
                td Inflatable Twister
                td LDOC
                td Main Quad
                td 11:00 AM - 3:00 PM
                td Games
              tr
                td Hoop Zones
                td LDOC
                td Main Quad
                td 11:00 AM - 3:00 PM
                td Games
              tr
                td Sumo Wrestling
                td LDOC
                td Main Quad
                td 11:00 AM - 3:00 PM
                td Games
              tr
                td Photobooth
                td LDOC
                td Clocktower Quad
                td 1:00 PM - 3:00 PM
                td Activity
              tr
                td Movie Marathon and Sandwich Bar
                td CSGD
                td CSGD Center
                td 9:00 AM - 4:00 PM
                td Food
              tr
                td Face Painting 
                td LDOC
                td Main Quad
                td 11:00 AM - 3:00 PM
                td Activity
              tr
                td Yik Yak Merchandise Giveaway
                td Yik Yak
                td Main Quad
                td 11:00 AM - 3:00 PM
                td Activity
              tr
                td Movies w/ Popcorn & Locopops
                td CMA
                td CMA Center
                td 1:00 PM - 3:00 PM
                td Activity
              tr
                td Silent Disco
                td DUU
                td Clocktower Quad
                td 1:00 PM - 4:00 PM
                td Activity
              tr
                td K-Ville Barbeque (Q-Shack)
                td DUWELL
                td K-Ville Lawn
                td 3:00 PM - 5:00 PM
                td Food
              tr
                td Concert
                td LDOC
                td Main Quad
                td 5:00 PM - 10:00 PM
                td
              tr
                td Food Trucks
                td LDOC
                td Kilgo Parking Lot
                td 6:00 PM - 10:00 PM
                td Food
              tr
                td Pizza
                td DSG
                td Main Quad
                td 11:00 PM - 11:00 PM
                td Food
              tr
                td Water Station
                td Students For Sustainable Living
                td Main Guad (by Few FF)
                td 11:00 AM - 3:00 PM
                td Food
              tr
                td Free Water Bottles
                td Duke University Book Stores
                td 
                  | Old Entrance to BC Plaza
                  br
                  | Card Lot (K-Ville Sign)
                  br
                  | Duke Bookstore (Plaza Entrance)
                  br
                  | Chapel Quad
                  br
                  | Few FF (Quad Side)
                td
                td