.row.divide
  .col-xs-12
    .content.table-responsive
      h2 Schedule
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-6
          .view
            iframe(src='https://www.google.com/maps/d/u/0/embed?mid=1_Xv2V9fUKmTuH0E5B_2-hNPyJEI', width='640', height='480')
        .col-xs-12.col-sm-12.col-md-12.col-lg-6
          .view
            table.table.table-bordered
              thead
                tr
                  th Event
                  th Sponsor
                  th Time
                  th Location
              tbody
                tr
                  td Breakfast - East
                  td Junior Panhel
                  td 9:00 AM - 11:00 AM
                  td East Bus Stop
              tbody
                tr
                  td Breakfast - Central
                  td Central HDRL
                  td 9:00 AM - 11:00 AM
                  td Anderson and Alexander Bus Stop
              tbody
                tr
                  td Breakfast - West
                  td LDOC Committee/Kind Bar
                  td 9:00 AM - 11:00 AM
                  td West Bus Stop
              tbody
                tr
                  td Morning Yoga
                  td Maria Finnegan
                  td 10:00 AM - 12:00 PM
                  td Statue Quad
              tbody
                tr
                  td Smoothie Bike
                  td Students for Sustainable Living/LDOC
                  td 11:00 AM - 12:30 PM
                  td Main Quad
              tbody
                tr
                  td Water Bottle Giveaway
                  td Students for Sustainable Living/LDOC
                  td 11:00 AM - 12:30 PM
                  td Main Quad
              tbody
                tr
                  td Food Trucks - LUNCH
                  td
                  td 11:00 AM - 2:00 PM
                  td Chapel Loop
              tbody
                tr
                  td Various Activities
                  td Religious Life
                  td 11:00 AM - 3:00 PM
                  td Chapel Quad
              tbody
                tr
                  td Inflatables
                  td LDOC Committee
                  td 11:00 AM - 3:00 PM
                  td Main Quad
              tbody
                tr
                  td Tie Dye
                  td DUARTS
                  td 11:00 AM - 3:00 PM
                  td Main Quad
              tbody
                tr
                  td Spin Art
                  td VisArts
                  td 11:00 AM - 3:00 PM
                  td Main Quad
              tbody
                tr
                  td Massages
                  td DUWELL
                  td 11:00 AM - 4:00 PM
                  td Chapel Quad
              tbody
                tr
                  td World Immunization Awareness (Photo Campaign)
                  td dPS
                  td 11:00 AM - 3:00 PM
                  td BC Plaza/Avalon
              tbody
                tr
                  td Water Truck
                  td Students for Sustainable Living/LDOC
                  td 11:00 AM - Midnight
                  td Main Quad
              tbody
                tr
                  td Silent Disco
                  td LDOC Committee/ Annual Events
                  td 1:00 PM - 4:00 PM
                  td Clocktower Quad
              tbody
                tr
                  td Inflatables and Sports Equipment
                  td Recreational Services
                  td 1:00 PM - 5:00 PM
                  td KVille Lawn
              tbody
                tr
                  td KVille BBQ
                  td DUWELL
                  td 2:30 PM - 4:30 PM
                  td Card Lot/KVille Lawn
              tbody
                tr
                  td Food Trucks - DINNER
                  td
                  td 6:00 PM - 10:00 PM
                  td Kilgo Lot
              tbody
                tr
                  td Midnight Pizza
                  td DUU
                  td 11:00 PM - 12:00 AM
                  td Main Quad

.row.divide
  .col-xs-12
    .content.table-responsive
      h2 Milestones
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .view
            table.table.table-bordered
              thead
                tr
                  th Event
                  th Time
              tbody
                tr
                  td Quad Closes
                  td 3:00 PM
              tbody
                tr
                  td Concert Begins
                  td 5:00 PM
              tbody
                tr
                  td Concert Ends
                  td 11:00 PM
.row.divide
  .col-xs-12
    .content.table-responsive
      h2 Inflatables/Rentals
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .view
            table.table.table-bordered
              thead
                tr
                  th Event
                  th Location
              tbody
                tr
                  td Photobooth
                  td Main Quad
              tbody
                tr
                  td Bubble Machine
                  td Main Quad
              tbody
                tr
                  td Caricature Artist
                  td Main Quad
              tbody
                tr
                  td Face Paint Artist
                  td Main Quad
              tbody
                tr
                  td Temporary Tattoos
                  td Main Quad
              tbody
                tr
                  td Connect Four
                  td Main Quad
              tbody
                tr
                  td Sky Dancers
                  td Main Quad
              tbody
                tr
                  td Wrecking Ball
                  td Main Quad
              tbody
                tr
                  td Misting Tent
                  td Main Quad
              tbody
                tr
                  td Bouncy House
                  td Main Quad
              tbody
                tr
                  td Bubble Soccer 
                  td KVille Lawn
              tbody
                tr
                  td Giant Jenga
                  td KVille Lawn
              tbody
                tr
                  td Pong
                  td KVille Lawn
              tbody
                tr
                  td Volleyball
                  td KVille Lawn
              tbody
                tr
                  td Spike Ball
                  td KVille Lawn
.row.divide
  .col-xs-12
    .content.table-responsive
      h2 Water Bottles (Courtesy of Duke Stores)
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .view
            table.table.table-bordered
              thead
                tr
                  th Water Locations
                  th Location Description
                  th Time
              tbody
                tr
                  td Chapel Quad
                  td By the Chapel
                  td 8:00 AM - MIDNIGHT
              tbody
                tr
                  td West Main Quad
                  td West Main Quad
                  td 8:00 AM - MIDNIGHT
              tbody
                tr
                  td West Main Quad
                  td Arches of the BC
                  td 8:00 AM - MIDNIGHT
              tbody
                tr
                  td Steps Outside Bookstore
                  td On the way to Penn
                  td 8:00 AM - MIDNIGHT
              tbody
                tr
                  td Card Lot
                  td Near Bay 1
                  td 8:00 AM - MIDNIGHT
