ul
	li
		a(href="https://www.facebook.com/dukeldoc")
			i.fa.fa-facebook-official
	li
		a(href="https://instagram.com/dukeldoc")
			i.fa.fa-instagram
	li
		a(href="https://twitter.com/dukeldoc")
			i.fa.fa-twitter-square
	li
		a(href="https://www.youtube.com/user/DukeLDOC")
			i.fa.fa-youtube-play
	li
		a(href="mailto:lastdayofclasses@gmail.com")
			i.fa.fa-envelope-o