.container
	ul
		li
			a(href="/lineup") Lineup
		li
			a(href="/gallery") Gallery
		li
			a(href="/committee") Committee
		li
			a LDOC 101
			ul.sub-nav
				li
					a(href="/schedule") Schedule
				li
					a(href="/food") Food
				li
					a(href="/wellness") Wellness
				li
					a(href="/policies") Policies