.container
	ul
		li
			a(href="/lineup.html") Lineup
		li
			a(href="/gallery.html") Gallery
		li
			a(href="/committee.html") Committee
		li
			a LDOC 101
			ul.sub-nav
				li
					a(href="/schedule.html") Schedule
				li
					a(href="/food.html") Food
				li
					a Wellness
				li
					a(href="/policies.html") Policies