.view {
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  p {
    padding: 15px;
    font-size: 12px;
    font-style: oblique;
    position: absolute;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: white;
    strong {
      font-style: normal;
      font-size: 16px;
    }
  }
  img {
    display: block;
    position: relative;
    transition: all 0.2s linear;
  }
  &:hover {
    .mask {
      transition-delay: 0.1s;
      opacity: 0.9;
    }
    img {
      transform: scale(1.1);
    }
    p {
      transition: all 0.2s linear;
      transition-delay: 0.1s;
      opacity: 1;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .mask {
    width: 600px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
}
