html,
body {
  height: 100%;
  background-color: $primary;
}

html,
h1,
h2,
h3,
p,
li,
a,
td,
th {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
}

p,
td,
th {
  color: $text;
  line-height: 2em;
}

th {
  font-weight: 700;
}

a {
  &:hover {
    color: white;
    text-decoration: none;
  }
  &:focus {
    color: white;
    text-decoration: none;
  }
}

nav,
footer {
  background-color: $accent;
  text-align: center;
  ul {
    margin: 0 auto;
    li {
      list-style-type: none;
      display: inline-block;
      font-size: 20px;
      text-transform: uppercase;
      padding: 15px 0;
      a {
        padding: 15px;
        transition: all 0.2s linear;
transition-delay: 0.1s;

        &:hover {
          background-color: $accent-hover;
          cursor: pointer;
        }
      }
    }
  }
}
