nav {
  margin-bottom: 50px;
  .container {
    margin-bottom: 0;
    li {
      &:hover {
        ul.sub-nav {
          transition: all 0.2s ease-out;
          transition-delay: 0.1s;
          max-height: 100px;
          li {
            a {
              color: white;
            }
          }
        }
      }
    }
    ul.sub-nav {
      transition: all 0.2s ease-in;
      transition-delay: 0.1s;
      position: absolute;
      max-height: 0;
      background-color: $accent-hover;
      left: 0;
      margin-top: 15px;
      width: 100%;
      li {
        display: inline-block;
        font-size: 14px;
        a {
          color: transparent;
          padding: 15px;
          transition: all 0.2s linear;
          transition-delay: 0.1s;
          &:hover {
            background-color: $accent;
            cursor: pointer;
          }
        }
      }
    }
  }
}
