$text: #333333;
$accent: #E13E38;
$accent-hover: #891D1F;
$primary: #171F31;
$header-image: url("/images/header-night.png");
$accent-day: #F3B048;
$accent-hover-day: #F0983E;
$primary-day: #5DBFBE;
$header-image-day: url("/images/header-day.png");
$accent-night: #E13E38;
$accent-hover-night: #891D1F;
$primary-night: #171F31;
$header-image-night: url("/images/header-night.png");
