body {
	background-color: #171717
}

#my-timeline {
	position: static;
}

.navbar {
	background-color: #636363;
	height: 100px;
	position: static;
}

.navbar table{
	width: 100%;
	position: relative;
	text-align: center;
	padding: 0px;
}

.navbar img{
	height: 50%;
}

.navbar .button{
	opacity: 50%;
	padding: 0px;
}

.navbar .button:hover{
	opacity: 100%;
	background-color: black;
	color: white;
}