body {
	background-color: #171717;
}

#archive {
	position: static;

	.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-frame, .vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-image img {
		border: 0px;
	}

	.vco-timeline .vco-navigation .timenav-background .timenav-indicator {
		background-image: url();
	}

	.vco-timeline .vco-navigation .timenav .content .marker.active .flag .flag-content h3, .vco-timeline .vco-navigation .timenav .content .marker.active .flag-small .flag-content h3 {
		color: #f9f9f9;
	}

	.vco-timeline .vco-navigation .timenav .content .marker.active .dot {
		background: #f9f9f9;
	}

	.vco-timeline .vco-navigation .timenav .content .marker.active .line {
		background: #f9f9f9;
	}

	.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-shadow {
		content: none;
		color: #171717;
		position: static;
	}

	.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-shadow:before {
		content: none; 
	}


	.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-shadow:after {
		content: none;
	}

	.vco-timeline .vco-navigation .timenav-background .timenav-line {
		background-color: #e2e2e2;
	}

	.vco-timeline .vco-navigation .timenav .content .marker.active .flag {
		background-image: url();
	}

	.vco-timeline .vco-navigation .timenav .content .marker .flag {
		background-image: url();
	}

}


